body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
  padding-top: 100px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 220px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background: #2874f0;
  color: white;
  border: none;
}
